

<div class="col-md-offset-7">
<div id="googlemaps"></div>
<div id="contactform">
<div class="text-center">
	<%= image_tag("logotipo.png", size: "84x84", alt: "Logo") %>
	<h2><%=  @loja.name  %></h2>
    <% if manager_signed_in? %>
        <h4>Diretor(a): <%= @loja.diretor %></h4>
    <% end %>

		<h4>Endereco: <%= @loja.endereco %></h4>
		<h4>Telefone: <%= @loja.telefone %></h4>
		<h4>Email: <%= @loja.email %></h4>
       <!--  <p>Mapa<br>(Aperte F5 ou Atualize Pagina)</p> -->
       <img src="<%= @loja.mapa %>"></p>
      <!--  <%= link_to "reload", refresh: true %> -->
</div>
		<%= link_to 'Volta' , :back ,  class: "btn btn-info" %>
	</div>
		</div>


<!-- -22.704870, -46.769935  ESSA LINHA abaixo deu erro no heroku 

<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

-->

<!-- 
 
<script type="text/javascript">
 
// The latitude and longitude of your business / place
var position = [<%= @loja.mapa %>];



function showGoogleMaps() {
 
    var latLng = new google.maps.LatLng(position[0], position[1]);
 
    var mapOptions = {
        zoom: 16, // initialize zoom level - the max value is 21
        streetViewControl: false, // hide the yellow Street View pegman
        scaleControl: true, // allow users to zoom the Google Map
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: latLng
    };
 
    map = new google.maps.Map(document.getElementById('googlemaps'),
        mapOptions);
 
    // Show the default red marker at the location
    marker = new google.maps.Marker({
        position: latLng,
        map: map,
        draggable: false,
        animation: google.maps.Animation.DROP
    });
}
 
google.maps.event.addDomListener(window, 'load', showGoogleMaps);
</script>

 -->