<div class="container">

<h1><%= image_tag("logotipo.png", size: "100x100", alt: "Ultravisao") %>  <%= @vehicle_brand.name %> | <%= @vehicle_names.count %> veículos cadastrados</h1>


<%= link_to 'Voltar', vehicle_brands_path , class: "btn btn-default" %>
<br>
<br>
<%= link_to 'Cadastrar Veiculo' , new_vehicle_brand_vehicle_name_path(@vehicle_brand) , class: "btn btn-primary" %>
<hr>


<% @vehicle_brand.vehicle_names.each do |v| %>
	<h3><%= link_to v.name, vehicle_brand_vehicle_name_path(@vehicle_brand, v) %></h3>
			<%= link_to 'Editar', edit_vehicle_brand_vehicle_name_path(@vehicle_brand, v), class: "btn btn-info" %>
			<%= link_to 'Deletar' , vehicle_brand_vehicle_name_path(@vehicle_brand, v),  method: :delete, data: { confirm: "Voce tem certeza?" } , class: "btn btn-danger" %>

<% end %>

</div>