<!-- <div class="container">

<h1><%= image_tag("logotipo.png", size: "100x100", tag: "ultravisao") %> Bem vindo: <%= current_manager.name %></h1>
<hr>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Listagem de Comentários | <%= @comments.count %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      	<% @comments.each do |comment|  %>
      	<p><%= comment.body %> | <%= time_ago_in_words(comment.created_at) %></p>
      <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Listagem de Usuários | <%= @managers.count %>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <% @managers.each do |m| %>
        	<p><%= m.name %> | <%= m.email %> |</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Listagem de Franqueados | <%= @franqueados.count %>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
       <% @franqueados.each do |fr| %>
       	<p><%= fr.name %> | <%= fr.email %></p>
       <% end %>
      </div>
    </div>
  </div>
</div>

<div class="well">
	

</div> -->