<div class="well">

<h1 align="center"><%= @vehicle_brand.name %></h1>
<hr>
	<h1 align="center"><%= @vehicle_name.name %></h1>
	<h1 align="center"><%= @vehicle_name.year %></h1>
	<p align="center"><%= @vehicle_name.obs %></p>

	
</div>

<%= link_to 'Voltar' , vehicle_brands_path , class: "btn btn-default" %>


<hr>
<%= render 'comments/form' %>

<h3>Veja Comentários | <%= @comments.count %></h3>


<% @comments.each do |comment| %>

   
<div class="well">
	
  <h3 align="left">  <%= image_tag comment.image.thumb('400x200').url if comment.image_stored?  %>
 	 <%=  comment.body %></h3>


	<% if comment.manager_id %>
			<p><%= comment.manager.name  %></p>
			<p><%= comment.manager.email %></p>
	<% elsif comment.franqueado_id %>
			<p><%= comment.franqueado.name %></p>
			<p><%= comment.franqueado.email %></p>

	<% elsif comment.vistoriadore_id %>
	<p><%= comment.vistoriadore.name %></p>
	<p><%= comment.vistoriadore.email %></p>
	<% end %> 

	<h4>Postado: <%= time_ago_in_words(comment.created_at) %></h4>
	<%= link_to like_vehicle_brand_vehicle_name_comment_path(@vehicle_brand, @vehicle_name, comment), method: :get, class: "btn btn-primary" do %>
			<span class="fa fa-thumbs-o-up"> Aprovado |</span>
			<%= comment.get_upvotes.size %>
			<% end %>


		<%= link_to dislike_vehicle_brand_vehicle_name_comment_path(@vehicle_brand, @vehicle_name, comment), method: :get, class: "btn btn-danger" do %>
			<span class="fa fa-thumbs-o-down"> Desaprovado |</span>
			<%= comment.get_downvotes.size %>
			<% end %>
				 
</div>
		
		<!-- 
# if current_managerr_id
# if current_franqueado
# if current_vistoriadore

 -->

	

<hr>

<% end %>



