<div class="well">

<h1 align="center"><%= @vehicle_brand.name %></h1>
<hr>
	<h1 align="center"><%= @vehicle_name.name %></h1>
	<h1 align="center"><%= @vehicle_name.year %></h1>
	<p align="center"><%= @vehicle_name.obs %></p>

	
</div>

<%= link_to 'Voltar' , vehicle_brands_path , class: "btn btn-default" %>