<div class="well">

<h1 align="center"><%= @vehicle_brand.name %></h1>
<hr>
	<h1 align="center"><%= @vehicle_name.name %></h1>
	<h1 align="center"><%= @vehicle_name.year %></h1>
	<p align="center"><%= @vehicle_name.obs %></p>

	
</div>

<%= link_to 'Voltar' , vehicle_brands_path , class: "btn btn-default" %>


<hr>
<%= render 'comments/form' %>

<h3>Veja Comentários | <%= @comments.count %></h3>


<% @comments.each do |comment| %>
<h3><%=  comment.body %></h3>
	<p><%= comment.manager_id if current_manager %></p>
	<p><%= comment.franqueado_id if current_franqueado %></p>
	<p><%= comment.vistoriadore_id if current_vistoriadore %></p>
<hr>

<% end %>
