<div class="container">

<h1> <%= image_tag("logotipo.png", size: "100x100", tag: "Ultravisao") %>  Ultrabook </h1>
<hr>

	
	<h2 align="center">Suporte: Veículos em aberto</h2>
	<hr>
	<% @comments.each do |comment| %>
			
		<div class="container">
		
 			<% if comment.completed_at.blank? %>
 			
 			<h3 align="left"><%= comment.vehicle_name.name %></h3>

 			<div class="well">
 				
		  	<div class="row">
				<div class="col-md-4">
					 <!--  class="col-md-10" -->
					  <%= image_tag comment.image.thumb('400x200').url if comment.image_stored?  %>
				</div>
				<div class="col-md-8">
					<h3 align="center">
					 	<i><%=  comment.body %></i>
				</div>
				 	</h3>	 	
				</div>

			  <% if comment.manager_id %>
					<h4>Postado por: <i><%= comment.manager.name %>  | <%= comment.manager.email %></i></h4>
					
			  <% elsif comment.franqueado_id %>
					<h4>Postado por: <i><%= comment.franqueado.name %>  | <%= comment.franqueado.email %></i></h4>
	    	 <% elsif comment.vistoriadore_id %>
			    <h4>Postado por: <i><%= comment.vistoriadore.name %>  | <%= comment.vistoriadore.email %></i></h4>
				 <% end %> 
			    	<h5><strong>Postado: <%= time_ago_in_words(comment.created_at) %></strong></h5>
				    <%= link_to 'Ampliar', vehicle_brands_path(@vehicle_brand) , class: "btn btn-info" %>
	   			<br>	

	   		</div>
	   <% end %>
  </div>
  </div>

	<% end %>

	</div>



