
<div class="container">

<%= link_to ' Voltar', estados_path , class: "btn btn-default fa fa-angle-left" %>

<h1><%= image_tag("logotipo.png", size: "100x100", alt: "Ultravisao") %>  <%= @estado.name %></h1>

<% if manager_signed_in? %>
<%= link_to 'Deletar Estado',@estado, method: :delete, data: { confirm: "Voce tem certeza?"  } , class: "btn btn-danger" %>
<% end %>


<% if manager_signed_in? %>
    <%= link_to 'Cadastrar Cidade', new_estado_cidade_path(@estado), class: "btn btn-primary" %>
<% end %>
<hr>

<% @estado.cidades.each do |cidade|  %>
	<h3><%= link_to cidade.name , estado_cidade_path(@estado, cidade) %></h3>
    <% if manager_signed_in? %>
			<%= link_to 'Deletar', estado_cidade_path(@estado, cidade), method: :delete, data: { confirm: "Voce tem certeza?" } , class: "btn btn-sm btn-danger" %>
<% end %>
<% end %>



