	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		
		<ul class="nav navbar-nav navbar-right">
			<li>
				<%= link_to 'Empresa', :sobre %>
			</li>
			<li>
			 <%= link_to 'Lojas' , :estados %>
			</li>
			<li>
				<%= link_to 'Franquias' , welcome_franquias_path %>
			</li>
			<li>
			<%= link_to 'Ultrabook' , ultrabook_index_path %>
			</li>
			<li>
			<%= link_to 'Contato', welcome_contato_path %>
			</li>
			<li>
			<%= link_to 'Envie Email', welcome_contato_path %>
			</li>
		</ul>
	</div><!-- /.navbar-collapse -->
