<!DOCTYPE html>
<html>
<head>
  <title>Ultravisão vistorias veiculares</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Animate CSS -->
    <link href="css/animate.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		 <a>
		 	<%= link_to 'Ultravisão', root_path , class: "navbar-brand" %>
		 </a>
	
	</div>
<!-- adm header -->
<% if manager_signed_in? %>
	<%= render 'layouts/headeradmin' %>
	<!-- franqueado header -->
<% elsif franqueado_signed_in? %>
	<%= render 'layouts/headerfranqueado' %>
<!-- vistoriador header -->
<% elsif vistoriadore_signed_in? %>
	<%= render 'layouts/headervistoriadore' %>
<% else %>
<!-- normal header -->
	<%= render 'layouts/header' %>
<% end %>

</nav>





<div class="container">

<% flash.each do |name, msg| %> 
	<%= content_tag :div , msg, class: "alert alert-info"  %>
<% end %>

<%= yield %>
</div>


</body>
</html>
